*hamnosys_approach/transcription-main/
*hamnosys_approach/datasets-master/
hamnosys_approach/models/
hamnosys_approach/dataset/dataset_cached/
hamnosys_approach/videos/
*idea/
*__pycache__/
*results/
*.z01
*lightning_logs/
*sign_writing_approach/sign_to_png/
*sign_writing_approach/images/
*sign_writing_approach/clip_fine_tuning/images/
*sign_writing_approach/clip_fine_tuning/logs/
*sign_writing_approach/clip_fine_tuning/results/
*sign_writing_approach/photos_results/
*sign_writing_approach/photos_signbank_results/
*sign_writing_approach/fixed_signsuisse.jsonl
*sign_writing_approach/image_encodings.jsonl
*sign_writing_approach/clip_fine_tuning/image_encodings.jsonl
*sign_writing_approach/clip_fine_tuning/image_sw_word_encodings.jsonl
*sign_writing_approach/clip_fine_tuning/images_info.jsonl
*sign_writing_approach/images_info.jsonl
*sign_writing_approach/store_vectors/sign2mint-images
*.oga
*.wav