*transcription-main/
*datasets-master/
*models/
*idea/
*__pycache__/
*results/
*.z01
*lightning_logs/
*videos/
*sign_writing/sign_to_png/
*sign_writing/images/
*sign_writing/photos_results/
*sign_writing/photos_signbank_results/
*sign_writing/fixed_signsuisse.jsonl
*dataset/dataset_cached/

datasets/output
datasets/photos_signbank_results
datasets/sign_to_png
